<% if(typeof alerts !== 'undefined'){ %>
    <% for(key in alerts){ %>
        <% alerts[key].forEach(function(thisMsg){ %>
            <div class="card-panel center black">
                <span class="white-text"><%= thisMsg %></span>
            </div>
        <% }); %>
    <% } %>
<% } %>