<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Collector</title>
</head>
<body>
    <h1>Under Construction</h1>
</body>
// Signup Form
<form action="signup" method="post">
    <input type="text">
    <input type="password">
    <input type="submit">
</form>

// Login Form
<form action="login" method="post">
    
</form>
</html>