<% include partials/header.ejs %>

    <div class="container">
        <h1>The Collector <small>(Under Construction)</small></h1>
        <!-- Signup Form -->
        <h2>Create An Account</h2>
        <form action="signup" method="post" action="auth/login">
            <input type="text" class="form-control" placeholder="Your Email" name="email">
            <input type="password" class="form-control" placeholder="Choose a password" name="password">
            <input type="submit" class="btn btn-primary" placeholder="" value="Sign Me Up!">
        </form>

        <!-- Login Form -->
        <h2>Log In</h2>
        <form action="login" method="post">
            <input type="text" class="form-control" placeholder="Your Email" name="email">
            <input type="password" class="form-control" placeholder="Choose a password" name="password">
            <input type="submit" class="btn btn-primary" placeholder="" value="Log Me In!">
        </form>
    </div>
    
<% include partials/footer.ejs %>