<% include partials/header.ejs %>
<main>
    <div class="container">
        <!-- Search Form -->
        <div class="row">
        <div class="col s12">
            <form action="/" method="post">
                <input type="text" class="form-control" placeholder="Search by Issue Name" name='searchTerms'>
            <!-- <input type="submit" class="btn btn-primary" placeholder="" value="Search"> -->
            <button class="btn waves-effect waves-light right" type="submit" name="action">
                Search
                <i class="mdi-content-??? right"></i>
            </button>
            </form>
        </div>
        </div>

        <!-- Comics! -->
        <div class="row">
        <hr>
        <div class="col s12">
        Upcoming and Recent Releases
        <div id="container" 
            class="js-masonry" 
            data-masonry-options='{ "columnWidth":200, "itemSelector":".card" }'>

        <% if (typeof searchResults != 'undefined') { %>
        <% searchResults.results.forEach(function(element){ %>
        <!-- <div class="row"> -->
            <!-- <div class="col s12 m6"> -->
              <div class="card">
                <a href="/issues/<%= element.id %>">
                <div class="card-image">
                  <img src="<%= element.image.small_url %>">
                  <span class="card-title"></span>
                </div>  
                <div class="card-content">
                  <p class="card-title"><%= element.volume.name %> #<%= element.issue_number %></p>
                </div>
                </a>
                <div class="card-action">
                  <a href="#">Add to My Collection</a>
                  <a href='#'>Add to My Wishlist</a>
                </div>
              </div>

<!--             </div>
        </div> -->
        <% }) %>
        <% } %>
        </div>
        </div>
        </div>

        </div>
    </div>
</main>
<% include partials/footer.ejs %>