body {
    background-color: #efebe9;
    font-family: "lint-mccree";
}

nav {
    background-color: #9f8151;
}

.logo {
    font-family: "flood-std";
    font-size: 2.8rem;
}

.btn {
    background-color: #5e3f36;
    color: #efebe9;
}

#issueDetail .card h1 {
    color: #efebe9;
}

#issueDetail h1, #issueDetail h1 a {
    color: #efebe9;
}

#issueDetail .card-action {
    border-top: 0;
    border-bottom: 1px solid rgba(160, 160, 160, 0.2);
    padding: 0;

}

.modal h4 {
    color: #5e3f36;
}

.modal .form-control {
    color: #5e3f36;
}

#issueDetail {
    font-family: "lint-mccree";
}
#issueDetail h1 {
    font-weight: 700;
    font-style: italic;
    font-size: 1.2rem;
}

#issueDetail h2 {
    font-weight: 400;
    font-style: italic;
    font-size: 1.2rem;
}

footer {
    background-color: #9f8151;    
}

.js-masonry .card {
    width: 200px;
    min-height: 500px;
    box-shadow: none;
    padding:10px;

}

.js-masonry .card-image{
    height: 300px;

}





