<% include ../partials/header.ejs %>

<div class="container">
    <div class="row">
        <div class="col-sm-5 col-sm-offset-1">
            <h1>USER DETAILS</h1>
            <img src="/pixel_taco.png" alt="">
        </div>
    </div>
</div>

<% include ../partials/footer.ejs %>
