<% include ../partials/header.ejs %>

<div class="container">
    <div class="row">
        <div class="col-sm-5 col-sm-offset-1">
            <h1>User Details</h1>
            <form action="users/edit" method="post">
                form goes here...
                <input type="submit">
            </form>
        </div>
    </div>
</div>

<% include ../partials/footer.ejs %>