<% include ../partials/header.ejs %>

<div class="container">
    <div class="row">
        <div class="col s12">
            <h4>My Collection</h4>
        </div>
    </div>
    <div class="row">
        <!-- spacer -->
    </div>
    <% if (typeof collectionData != 'undefined') { %>
        <!-- // Loop thru collectionData here to show collection -->
        <% collectionData.forEach(function(item) { %>
            <%= item.issueId %>
        <% }) %>
    <% } else { %>
        Nothing saved to this collection!
    <% } %>
</div>

<% include ../partials/footer.ejs %>