<% include ../partials/header.ejs %>

<div class="container">
    <div class="row">
        <div class="col-sm-5 col-sm-offset-1">
            <h1>COMIC BOOKS, DAMMIT!, <%= user %></h1>
        </div>
    </div>
</div>

<% include ../partials/footer.ejs %>